baliklagi button {
  padding: 5px 7px;
  margin: 15px;
  border: none;
  font-family: 'Lato', sans-serif;
  color: aliceblue;
  background: rgb(1, 255, 1);
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

baliklagi button:hover {
  background: rgb(3, 226, 3);
}

html {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
     text-align: center;
  }